/* 
    Include this file after style.css in your index.html
*/


#map {
    display: block; /* make sure a box shows up */
    height: 360px;  /* Required to let the map load in at all */
    width: 480px; /* Map will be very small without this*/
    border: 2px dashed rgb(99, 99, 99);  /* Just for looks to make sure box is in */
    margin-bottom: 1rem;  /* Keep spacing below map to other boxes */
  }
  