/******************************************************************************
START Lab Basic Page Styles
******************************************************************************/

/* Our default values set as CSS variables */
:root {
  --color-gray: rgb(239, 239, 239);
  --color-text: rgb(74, 74, 74);
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: ‘Open Sans’, Verdana, sans-serif;
  --font-weight: 400;
  --line-height: 1.5;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* 
  These rules apply to actual HTML elements with no labelling!
  So: they style the tags directly
*/

html {
  background-color: var(--color-bg);
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: Sans-serif; /*  This is an example of a custom CSS property  */
  margin: 0;
  padding: 0;
  background-color: rgb(80, 190, 205);
  color: rgb(255, 255, 55);
}


a {
  display: inline-block;
  text-decoration: none;
}

h2 {
  margin:0;
  padding:0;
  padding-bottom:1.5rem;
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}

/******************************************************************************
IMPORT DECLARATIONS

these import styles from other sheets, in order
******************************************************************************/

@import url("./small_screen.css");
@import url("./mapstyle.css");
@import url("./carousel.css");

/******************************************************************************
CLASS DECLARATIONS

  - These styles use 'class names'
  - You can apply them by using the 'class' attribute on your HTML
  - like this: <div class="wrapper">
  - note that the period vanishes there!
******************************************************************************/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.container {
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex:1;
}


.header {
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(225, 55, 95);
  display: flex;
  text-align: center;
}


/*
  This rule implies that the H1 tag lives within another HTML tag
  It "inherits" some rules from the above
  Those rules won't apply to an h1 that's outside a block with the class of 'header'
*/

.header h1 {
  display: block;
  /* this will push other blocks out of the way */

  /* colors */
  color: var(--color-text-2);
  

  /* shapes */
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 1.25rem;
  margin:0; /* removing the margin on h1 tags means the header pins to the top */

  /* box-shadows are fancy */
  /*box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);*/
}

/*
  Rules can be combined on a block to apply the 'cascade' in order
  So you can use two classnames in a single class attribute
  like: <div class="box section">

  Rules may combine in unexpected ways - remember that the LAST thing written in this file will have "priority"
  And will be what displays in your client
*/

.box {
  width: fit-content;
  height:fit-content;
  padding: 2rem;
  margin: 0 auto;
  
}

.left_section {
  flex: 0 1 auto;
  margin: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  box-shadow: 0px 0px 15px #000000;
  border-radius: 1em;
}

.right_section {
  display: flex;
  flex-direction: column;
  flex: 1 2 auto;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  box-shadow: 0px 0px 15px #000000;
  border-radius: 1em;
}


/*
  This block is actually dependent on the "container" block having a flex set on it
  and the "wrapper" block displaying as a flex column with a "vertical height" (vh) of 100.
  That serves to cram the footer to the bottom of the page.
*/

.footer {
  flex-shrink: 0;
  padding: 1rem;

  font-size: 1.2rem;
  font-weight: 600;
  
}

.footer a {
  text-decoration: underline;
}

/*
  This is an example of a 'pseudoclass'
  In this instance, it says what to do if a mouse hovers over a link
  This is pretty desktop-specific, since there's no hover function on touchscreens
*/
.footer a:hover {
  /* Hue, saturation, luminosity, alpha */
  background-color: hsla(25, 50%, 100%, 0.15);
  /* red, green, blue, alpha */
  text-decoration: none;
}

.subtitle {
  color: rgba(20, 0, 0, 1);
  margin: 0px;
  margin-bottom: 5px;
}

/*
Form Styles
*/
form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  /* here we are setting white space correctly */
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 4px;
}

form label {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 736px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
